name: Rclone Transfer OneDrive to WebDAV

# 触发方式：手动 + 定时
on: 
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'

jobs:
  rclone-copy:
    runs-on: ubuntu-latest
    
    steps:
    # 1. 安装 Rclone
    - name: Install Rclone
      run: |
        sudo -v ; curl https://rclone.org/install.sh | sudo bash

    # 2. 写入配置文件 (记得你刚才更新了 Secrets 哦！)
    - name: Setup Rclone Config
      run: |
        mkdir -p ~/.config/rclone
        echo "${{ secrets.RCLONE_CONF }}" | base64 -d > ~/.config/rclone/rclone.conf
        # 验证一下
        ls -l ~/.config/rclone/rclone.conf

    # 3. 执行复制任务 (OneDrive -> WebDAV)
    # hi168:hi168-19236-6825fib7丨onedrive丨6pan:备份丨alwaysdata
    - name: Run Rclone Copy
      run: |
        rclone copy "onedrive:下载" "alwaysdata:6盘/备份/下载" \
          --transfers 1 \
          --checkers 16 \
          --buffer-size 64M \
          --onedrive-chunk-size 50M \
          --ignore-checksum \
          --size-only \
          --header "Expect:" \
          -v
